* {
 margin: 0;
 padding: 0;
 background-color: black;
 color: white;
}

.app {
 min-height: 100vh;
 max-width: 80vw;
 margin: auto;
}
.img {
 width: 230px;
 height: 230px;
}

.sliderHeader {
 width: 100%;
 margin: 1em;
}

.slider {
 width: 100%;
 display: flex;
 justify-content: space-between;
 flex-direction: row;
 flex-wrap: nowrap;
}

.sliderItem {
 display: flex;
 flex-direction: column;
}

li {
 list-style: none;
}

.lyrics {
 display: flex;
 word-break: keep-all;
 width: 27%;
}
